.drawerHeader {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	padding: 1rem;
	min-height: fit-content;
}

.drawerHeader.isClosable {
	justify-content: space-between;
}

.drawerHeader.borded {
	border-bottom: 1px solid var(--ff-border);
}

.buttonClose {
	display: inline-block;
}