.drawerContent {
	margin: 0;
	flex: 1;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	padding: clamp(1rem, 2vh, 2rem);
	box-sizing: border-box;
	min-height: fit-content;
	-webkit-font-smoothing: antialiased;
}