.link {
	height: fit-content;
	width: fit-content;
	margin: 0;
	padding: 0;
	line-height: 0.7em;
	text-decoration: none;
	font-weight: 400;
	max-width: fit-content;
}

.hasHover {
	--origin: bottom left;
	display: inline-block;
	position: relative;
	cursor: pointer;
	margin-bottom: 0.3em;
}

.hasHover.left,
.hasHover.underlineNone {
	--origin: bottom left;
}

.hasHover.center {
	--origin: bottom center;
}

.hasHover.right {
	--origin: bottom right;
}

.hasHover.underlineNone::after {
	transform: scaleX(1);
}

.hasHover:not(.underlineNone)::after {
	transform: scaleX(0);
}

.hasHover::after {
	content: "";
	position: absolute;
	inset-inline-start: 0;
	inset-block-end: -0.3em;
	width: 100%;
	transform-origin: var(--origin);
	height: 0.125em;
	background: var(--ff-primary, currentColor);
	transition: transform 0.25s ease-out;
}

@media (hover: hover) and (pointer: fine) {
	.link svg {
		transition: opacity 0.3s ease;
	}

	.link:hover svg {
		opacity: 0.7;
	}

	.hasHover.underlineNone:hover::after {
		transform: scaleX(0);
	}

	.hasHover:not(.underlineNone):hover::after {
		transform: scaleX(1);
	}
}
